<div class="flex align-bottom justify-center" style="align-items: flex-end">
    <div class="w-32 h-52 bg-red-500 flex justify-center">
        <p class="text-white py-10">
            {{podium![0]?.score}}
            {{podium![0]?.member?.name}}
        </p>
    </div>
    <div class="w-32 h-80 bg-red-500 flex justify-center">
        <p class="text-white py-10">
            {{podium![1]?.score}}
            {{podium![1]?.member?.name}}
        </p>
    </div>
    <div class="w-32 h-64 bg-red-500 flex justify-center">
        <p class="text-white py-10">
            {{podium![2]?.score}}
            {{podium![2]?.member?.name}}
        </p>
    </div>
</div>
