<div>
    <div class="w-full bg-blue-900 h-8 flex justify-center items-center text-white">
        Reel in the Adventure
    </div>
    <div class="w-full flex justify-between items-center h-14 shadow-md">
        <div class="flex justify-center items-center"><a routerLink="/"><img src="../../../../assets/images/logo.png" class="w-20 h-16 ml-8"></a>
        <p class="italic font-medium text-blue-900">AFTAS Club</p></div>
        <a class="mr-8"><app-button (btnClick)="navigate()" color="#000075" text="Competitions"></app-button>
        </a>
    </div>
    
</div>