<div class="w-full flex flex-row h-full justify-around">
    <div class="flex justify-center flex-col" style="height: 30rem;">
        <div class="text-white text-9xl font-bold">WI
            <span class="text-yellow-400">GOLD</span>
        </div>
        <div class="text-teal-400 text-9xl font-bold">FISH</div>
    </div>
    <div class="flex justify-center flex-col" style="height: 30rem;">
        <p class="w-56 text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, dolore sit, sunt odit at aliquid minus eveniet id, natus similique sed voluptatibus. Repellendus error ex accusantium nesciunt consequuntur officia! Perspiciatis!
        </p>
    </div>
</div>