<div class="bg-no-repeat flex justify-start shadow-md items-center w-full bg-cover bg-contain" style="background-image: url('../../../../assets/images/bg.jpeg') ; height: 400px; background-size: cover;" >
    <div class="w-2/3 text-left text-white ml-10 font-serif italic">
        <h2 class="text-7xl ">Fishing the real deal</h2>
        <p class="py-8">Good things comes to those who bait</p>
        <app-button color="white" text="Start now" (btnClick) = "Competition()"></app-button>
    </div>
</div>