<div class="flex justify-around items-start mb-10 mt-20" >
    <img src="../../../../assets/images/fishing.jpg" alt="Fishing" class="w-96 h-96 shadow-lg ">
    <section class="flex flex-col items-start justify-center text-justify w-1/2">
        <div class="max-w-3xl mx-auto text-start">
            <p class="text-lg mb-8 font-medium text-4xl">About Us</p>
            <p class=" mb-8">Got it! Aftas Club in Mirleft, Tiznit, is your hub for thrilling sports and adventures. We offer surfing, tennis, quad biking, underwater fishing, and paragliding. Our underwater hunting competitions across Morocco draw passionate participants. To streamline our events, we're creating a responsive web app for efficient administration and jury functions, promising a game-changing experience for everyone involved.</p>
        </div>
        <app-button color="black" text="Start now"></app-button>
    </section>
</div>